/*
#FBFAFC
#C39360
#BF442F
#506E7B
#4B5459
#E8E8E8

#FAF0A6 -- yellow
#53C0B4 -- turquoise
#9D70C7 -- purple
#E5534B -- red
*/

body {
  font-family: 'Lato', sans-serif;
  background-color: #FBFAFC;
}

* {
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
}

.inside {
	width: 10vw;
	height: 14vh;
	background-color: #E8E8E8;
	color: #4B5459;
	margin: 5px;
	float: left;
	padding: 0;
	border-radius: 5px;
}

.inside h2 {
	position: absolute;
	font-size: 18px;
	text-align: center;
	color: #4B5459;
	width: 10vw;
}

#hidden-data {
	display: none;
}

#box1 h2 {
	transform: translate(-10vw, -5vh);
	width: 30vw;
	text-align: center;
}

#box9 h2 {	
	transform: translate(-10vw, 14vh);
	width: 30vw;
	text-align: center;
}


.draggable {
	background-color: #FBFAFC;
	margin: 0;
	padding: 0;
	width: 10vw;
	height: 14vh;
	border-radius: 5px;
	border: 2px solid #E8E8E8;
	text-align: center;
	line-height: 10vh;
	transform: translate(-2px, -2px);
}

.draggable2 {
	background-color: #FBFAFC;
	margin: 0;
	padding: 0;
	width: 10vw;
	height: 14vh;
	border-radius: 5px;
	border: 2px solid #E8E8E8;
	text-align: center;
	line-height: 10vh;
	transform: translate(-2px, -2px);
}

.inside .draggable {
	background-color: #E8E8E8;
	border: 2px solid #9D70C7;
	font-weight: bold;
}

.inside .draggable2 {
	background-color: #E8E8E8;
	border: 2px solid #53C0B4;
	font-weight: bold;
}

.drop-active{
	transition: none;
}

.draggable.app {
	position: absolute;
}

#app {
	height: 100%;
	width: 100%;
	text-align: center;
}

#app2 {
	height: 100%;
	width: 100%;
	text-align: center;
	display: none;
}

#startbox {
	width: 10vw;
	height: 93vh;
	background-color: transparent;
	margin: 10px;
	float: left;
	padding: 0;
	border-radius: 5px;
	border: 2px dashed #E8E8E8;
	position: absolute;
}

#startbox .draggable {
	width: 10vw;
	height: 10vh;
	line-height: 8vh;
}

#startbox .draggable2 {
	width: 10vw;
	height: 10vh;
	line-height: 8vh;
}

#diamond-cont {
	position: absolute;
	margin: 5vh auto;
	left: 50%;
	margin-left: -25vw;
	width: 50vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#diamond-cont span {
	display: flex;
	flex-direction: row;
	align-items: center;
	align-content: center;
	justify-content: center;
	width: 100%;
}

#outside .draggable {
	position: absolute;
}

button {
	position: absolute;
	top: 90vh;
	left: 50%;
	width: 10vw;
	padding: 5px;
	border: none;
	background-color: #E8E8E8;
	color: #4B5459;
	border-radius: 5px;
	font-size: 14pt;
	border: 2px solid #FBFAFC;
	text-align: center;
	margin-left: -5vw;
}

button:hover {
  border: 2px solid #4B5459;
}

#playsound-dropzone {
	height: 15vh;
	width: 10vw; 
	display: block;
	position: absolute;
	top: 78vh;
	left: 80vw;
	background-color: #E8E8E8;
	color: #4B5459;
	border-radius: 5px;
}

#playsound-dropzone button {
	width: 50px;
	height: 50px;
	background-color: none;
	border: 2px solid transparent;
	margin-top: 5px;
	margin-left: 5px;
    position: relative;
	top: 0;
	left: 0;
}

#sound {
    max-width: 100%;
    max-height: auto;
    position: relative;
}

#logo {
    max-width: 150px;
    max-height: auto;
}

#overlay-wrapper {
	background-color: rgba(75,84,89,0.6);
  	height: 100%;
  	width: 100%;
  	position: absolute;
  	top: 0;
    left: 0;
}

.overlay {
	background-color: #E8E8E8;
	text-align: center;
	position: absolute;
	padding: 0;
	margin: auto;
    top: 48%;
    left: 50%;
    margin-top: -200px;
	margin-left: -10%;
    width: 20%;
	border-radius: 5px;
}

.overlay h1 {
	text-align: center;
	margin: 10px;
	font-size: 18px;
	color: #4B5459;
}

.overlay button{
	text-align: center;
	margin: auto;
	margin-bottom: 0px;
	font-size: 32px;
	color: #4B5459;
	display: block;
	background-color: #FBFAFC;
	border: 2px solid transparent;
	padding: 5px;
	width: 50%;
	border-radius: 5px 5px 0px 0px;
	position: relative;
    top: 0;
    left: 0;
}

.overlay button:hover{
  border: 2px solid #4B5459;
}

.overlay p {
	text-align: left;
	margin: 15px;
	font-size: 14px;
	color: #4B5459;
}

.overlay.page2 {
	display: none;
}

@media only screen and (max-width: 1200px) {
	button {
		width: 16vw;
		margin-left: -8vw;
	}

	.overlay {
		margin-left: -20%;
		width: 40%;
	}

	#startbox {
		width: 16vw;
	}

	.draggable {
		width: 16vw;
	}

	.draggable2 {
		width: 16vw;
	}

	#startbox .draggable {
		width: 16vw;
	}

	#startbox .draggable2 {
		width: 16vw;
	}

	.inside {
		width: 16vw;
	}

	.inside h2 {
		width: 20vw;
	}

	#box1 h2 {
		transform: translate(-7vw, -5vh);
		width: 30vw;
		text-align: center;
	}

	#box9 h2 {	
		transform: translate(-7vw, 13vh);
		width: 30vw;
		text-align: center;
	}

	#playsound-dropzone {
		width: 16vw;
	}
}